<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
      <add key="DESTINATION_PATH" value="D:\FOLDER_DOWNLOAD\"/>
      <add key="BASE_URI" value="http://hhhfkkks909090.onion/files/"/>
      <add key="BATCH_ORIGIN_FILE" value="download.ini"/>
    </appSettings>
</configuration>
